# SPDX-License-Identifier: GPL-2.0-only
#
# Starfive SoC drivers
#

if ARCH_STARFIVE || COMPILE_TEST
menu "Starfive SoC drivers"

config SOC_STARFIVE_JH7110_HDMI_SUBSYSTEM
	tristate "StarFive JH7110 HDMI subsystem driver"
	depends on OF
	help
	  This option enables the parent driver
	  for the monolithic StarFive JH7110 HDMI peripheral.

	  The JH7110 HDMI IP block contains both the digital controller
	  (DRM bridge) and the analog PHY (clock/phy provider) logic within
	  a single shared register space.

	  This driver acts as a wrapper. Its only job is to map the
	  shared registers and create separate logical child devices
	  for the "PHY" and the "controller". This is required to
	  correctly manage resources and break a circular clock dependency
	  between the PHY and the VOUT clock generator at probe time.

endmenu
endif
